page-checkout {

    ion-label.label.label-ios {
        font-family: 'Montserrat', sans-serif;
    }

    .toolbar-title.toolbar-title {
        font-family: 'Montserrat', sans-serif;
        font-size: 2.2rem;
        font-weight: 400;
    }

    .button-inner {
        font-family: 'Montserrat', sans-serif;
    }

}
