@import url('https://fonts.googleapis.com/css?family=Montserrat:300');

page-welcome {

    button {
        font-family: 'Montserrat',sans-serif;
    }

    ion-footer {
        font-family: 'Montserrat',sans-serif;
        text-align: center;
        font-size: 1.1em;
        margin-bottom: 10px;
    }

}
