
<ion-header>

  <ion-navbar>
    <ion-title>{{product.title}}</ion-title>
    <ion-buttons end>
      <button ion-button clear (click)="openCart()">
        <ion-icon name="md-cart" style="font-size:30px;"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

  <!-- <ion-fab right top edge (click)="openCart()">
    <button ion-fab color="primary">
      <ion-icon name="md-list-box"></ion-icon>
    </button>
  </ion-fab>  -->

  <img [src]="product.featured_src"/>
  <ion-row style="text-align:center;">
    <ion-col col-6>
      <p>PRICE</p>
      <h3 [innerHTML]="product.price_html"></h3>
    </ion-col>
    <ion-col col-6 style="border-right:1px;">
        <p>RATING</p>
        <span *ngIf="product.average_rating >=1">
          <ion-icon name="md-star" style="color:#d4af37;font-size:2.0em;"></ion-icon>
        </span>
        <span *ngIf="product.average_rating >=1.5 && product.average_rating <2">
          <ion-icon name="md-star-half" style="color:#d4af37;font-size:2.0em;"></ion-icon>
        </span>

        <span *ngIf="product.average_rating >=2">
          <ion-icon name="md-star" style="color:#d4af37;font-size:2.0em;"></ion-icon>
        </span>
        <span *ngIf="product.average_rating >=2.5 && product.average_rating <3">
          <ion-icon name="md-star-half" style="color:#d4af37;font-size:2.0em;"></ion-icon>
        </span>

        <span *ngIf="product.average_rating >=3">
          <ion-icon name="md-star" style="color:#d4af37;font-size:2.0em;"></ion-icon>
        </span>
        <span *ngIf="product.average_rating >=3.5 && product.average_rating <4">
          <ion-icon name="md-star-half" style="color:#d4af37;font-size:2.0em;"></ion-icon>
        </span>

        <span *ngIf="product.average_rating >=4">
          <ion-icon name="md-star" style="color:#d4af37;font-size:2.0em;"></ion-icon>
        </span>
        <span *ngIf="product.average_rating >=4.5 && product.average_rating <5">
          <ion-icon name="md-star-half" style="color:#d4af37;font-size:2.0em;"></ion-icon>
        </span>
        <span *ngIf="product.average_rating >=5">
          <ion-icon name="md-star" style="color:#d4af37;font-size:2.0em;"></ion-icon>
        </span>
    </ion-col>
    <p [innerHTML]="product.short_description" style="margin:0;"></p>
    <button ion-button icon-left block round color="primary" (click)="addToCart(product)" style="width:85%;display:block;margin:auto;font-family: 'Montserrat', sans-serif;">
      I WANT THIS
    </button>
  </ion-row>

  <ion-card *ngIf="product.attributes.length >0">
    <ion-card-content>
      <ion-card-title>Specifications</ion-card-title>
      <ion-grid>
        <ion-row *ngFor="let att of product.attributes">
          <ion-col col-5>
            <b>{{att.name}}</b>
          </ion-col>
          <ion-col col-7>
            <span *ngFor="let option of att.options">
              {{option}},&nbsp;
            </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="reviews.length >0" style="margin-top:15px!important;">
    <ion-card-content no-padding>
      <ion-card-title>
        <h2>Reviews</h2>
      </ion-card-title>
      <ion-row *ngFor="let review of reviews" style="margin-left:15px!important;margin-bottom:8px!important">
        <ion-col col-8 style="border:0!important;">
          <h3><b>{{review.reviewer_name}}</b></h3>
        </ion-col>
        <ion-col col-4 style="text-align:right;border:0!important;">
          <span *ngIf="review.rating >=1">
            <ion-icon small name="md-star" style="color:#d4af37;"></ion-icon>
          </span>
          <span *ngIf="review.rating >=2">
            <ion-icon small name="md-star" style="color:#d4af37;"></ion-icon>
          </span>
          <span *ngIf="review.rating >=3">
            <ion-icon small name="md-star" style="color:#d4af37;"></ion-icon>
          </span>
          <span *ngIf="review.rating >=4">
            <ion-icon small name="md-star" style="color:#d4af37;"></ion-icon>
          </span>
          <span *ngIf="review.rating >=5">
            <ion-icon small name="md-star" style="color:#d4af37;"></ion-icon>
          </span>
        </ion-col>
        <p>{{review.review}}</p>
      </ion-row>
    </ion-card-content>
  </ion-card>

</ion-content>
